Repository burdettadam/AoS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=20, prettier --write

feat: comprehensive PR code quality reporting system
  .github/workflows/ci-cd.yml
  .github/workflows/pr-quality-report.yml
  README.md
  package-lock.json
  package.json
  quality-reports/complexity-summary.md
  quality-reports/eslint-report.html
  quality-reports/eslint-report.json
  quality-reports/eslint-results.sarif
  quality-reports/summary.md
  quality-reports/typescript-report.md
  scripts/generate-quality-report.sh
  sonar-project.properties
Due: prettier --write

chore: add quality-reports to gitignore
  .gitignore
Due: none

feat: comprehensive PR quality reporting and documentation reorganization
  CHARACTER_MIGRATION_GUIDE.md
  README.md
  design.md
  docs/README.md
  docs/architecture/ACTION_SYSTEM_SUMMARY.md
  docs/architecture/GAME_ACTION_SYSTEM_REFACTORING.md
  docs/architecture/Game architecture proposal.pdf
  docs/architecture/Game ux design.pdf
  docs/architecture/META_ACTIONS_UPDATE.md
  docs/architecture/design.md
  docs/deployment/DOCKER_README.md
  docs/development/DEVELOPMENT.md
  docs/development/MONOREPO_SETUP.md
  docs/development/TESTING.md
  docs/development/TYPESCRIPT_DATA_IMPLEMENTATION.md
  docs/features/JOURNAL_FEATURE_SUMMARY.md
  docs/features/KEYCLOAK_THEME_IMPLEMENTATION.md
  docs/features/PLAYWRIGHT_TESTS.md
  docs/features/PUBLIC_GAMES_IMPLEMENTATION.md
  docs/migration/CHARACTER_MIGRATION_GUIDE.md
  docs/migration/DATA_MIGRATION_README.md
  docs/migration/FIRST_NIGHT_UPDATES.md
  docs/migration/MIGRATION_STATUS.md
  docs/processes/CODE_QUALITY.md
  docs/processes/PULL_REQUEST_GUIDE.md
  quality-reports/complexity-summary.md
  quality-reports/eslint-report.html
  quality-reports/eslint-report.json
  quality-reports/eslint-results.sarif
  quality-reports/summary.md
  quality-reports/typescript-report.md
Due: prettier --write

fix: resolve TypeScript build errors
  package-lock.json
  packages/client/package.json
  packages/client/src/components/ErrorBoundary.tsx
  packages/client/src/test/setup.ts
  packages/client/src/utils/performance.ts
Due: eslint --fix --max-warnings=20, prettier --write

organize: restructure scripts into organized directories
  SCRIPT_ORGANIZATION.md
  convert-characters.js
  download-artwork.js
  package.json
  run-enhanced-tb-test.js
  scripts/README.md
  scripts/archived/ensure-actions.js.bak
  scripts/archived/lint-data.js.bak
  scripts/archived/standardize-characters.js.bak
  scripts/archived/standardize-scripts.js.bak
  scripts/archived/validate-data.js.bak
  scripts/data-migration/complete-migration.js
  scripts/data-migration/convert-characters.js
  scripts/data-migration/extract-all-characters.js
  scripts/data-migration/extract-sample.js
  scripts/data-migration/full-migration.js
  scripts/data-migration/migrate-characters.js
  scripts/utilities/download-artwork.js
  scripts/utilities/find-missing.js
  scripts/utilities/resolve-lineup.js
  scripts/utilities/run-enhanced-tb-test.js
Due: prettier --write

feat: start of mcp service
  docker/docker-compose.mcp.yml
  docs/deployment/mcp-first-deployment.md
  docs/deployment/mcp-first-npm-scripts.json
  docs/deployment/mcp-integration.md
  docs/deployment/npm-scripts-update.json
  package-lock.json
  packages/mcp-server/Dockerfile
  packages/mcp-server/README.md
  packages/mcp-server/examples/stateless-npc-agent.ts
  packages/mcp-server/package.json
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/services/GameStateService.ts
  packages/mcp-server/src/services/JournalService.ts
  packages/mcp-server/src/services/NPCProfileService.ts
  packages/mcp-server/src/tools/index.ts
  packages/mcp-server/src/types/index.ts
  packages/mcp-server/test-server.sh
  packages/mcp-server/tsconfig.json
  packages/server/src/ai/MCPAIAgentManager.ts
  packages/server/src/ai/agents/EnhancedNPCAIAgent.ts
  packages/server/src/ai/agents/MCPAIAgent.ts
  packages/server/src/ai/mcp/MCPAdapter.ts
  packages/server/src/ai/mcp/MCPClient.ts
  packages/server/src/routes/npcTestRoutes.ts
  scripts/test-mcp-integration.sh
Due: eslint --fix --max-warnings=20, prettier --write

Path conditions:
  eslint --fix --max-warnings=20: any of: packages/**/*.{ts,tsx,js,jsx}
  prettier --write: ((any of: packages/**/*.{ts,tsx,js,jsx}) or (any of: packages/**/*.{json,md})) or (any of: *.{js,ts,jsx,tsx,json,md})
